// ---------------Primary Colour--------------

$lt-red:hsl(356, 100%, 66%);
$vlt-red:hsl(355, 100%, 74%);
$vdk-blue: hsl(208, 49%, 24%);




// ---------------Neutral Colour--------------

$white:hsl(0, 0%, 100%);
$gr-blue:hsl(240, 14%, 91%);
$vdk-gr-blue:hsl(207, 13%, 34%);
$vdk-blk-blue:hsl(240, 10%, 16%);



// ---------------Gradient Colour Nav--------------
$vlt-red1:hsl(13, 100%, 72%);
$lt-red1:hsl(353, 100%, 62%);




// ---------------Gradient Colour Body--------------
$vdk-gr-blue:hsl(237, 17%, 21%);
$vdk-dstrtd-blue:hsl(237, 23%, 32%);